<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paulohdsousa.vocemeconhece">

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Fullscreen">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RankingActivity" android:label="Ranking"/>
        <activity android:name=".CadastrarPerguntaActivity" android:label="Cadastrar Pergunta" />
        <activity android:name=".JogarActivity" android:label="Jogar" />
        <activity android:name=".SucessoActivity" android:label="Sucesso" />
        <activity android:name=".PerguntasActivity" android:label="Perguntas">
        </activity>
    </application>

</manifest>